@media (min-width: 1000px){  /*monitor beállítások*/

    body {
        background: url(/media/hatter/pexels-max-fischer-5212341.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .info{
        width: 100px;
        height: 28px;
        background: grey;
        color: white;
        position: fixed;
        top: 35%;
        left: 4.5%;
        font-size: 9px;
        border-radius: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        display: none;
    }

    .info2{
        top: 47%;
        height: 15px;
    }
    .info3{
        top: 57%;
        height: 15px;
    }
    .info4{
        top: 92%;
        left: 3%;
        width: 140px;
        height: 15px;
    }

    .alap2:hover + .info{
        display: unset;
    }
    .editor:hover + .info{
        display: unset;
    }

    .alap{
        background: rgba(255, 255, 255, 0.822);
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        position: fixed;
        top: 40%;
        left: 1%;
        z-index: 5;
        transition: 0.3s;
    }

    .alap2{
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        position: fixed;
        text-align: center;
        top: 40%;
        display: block;
        left: 1%;
        z-index: 4;
        pointer-events: all;
        transition: 0.3s;
    }
    
    .alap i{
        color: rgb(0, 0, 0);
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        transition: 0.3s;
    }
    
    .kor2{
        top: 50%; 
        transition: 0.3s;
    }
    .kor3{
        top: 60%; 
        transition: 0.3s;
    }
    
    .alap2 p{
        color: rgb(0, 0, 0);
        margin: auto;
        position: relative;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        z-index: 3;
        font-size: 0px;
        transition: 0.3s;
    }

    .alap:hover{
        background: linear-gradient(rgb(169, 203, 241),rgba(255, 255, 255, 0.753));
        transition: 0.3s;
    }

    .alap:hover + .alap2{
        width: 200px;
        transition: 0.3s;
    }

    .alap:hover + .alap2 p{
        font-size: 12px;
        transition: 0.3s;
    }
    
    .alap2:hover{
        width: 200px;
        background: linear-gradient(rgb(169, 203, 241),rgba(255, 255, 255, 0.753));
        transition: 2.4s;
    }
    
    .alap2:hover p{
        font-size: 12px;
        pointer-events: none;
        transition: 0.3s;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
      
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
    }
      
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(182, 182, 182),rgb(255, 255, 255));
    }

    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background: rgb(169, 203, 241);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.5vw;
        padding: 20px 32px 0 0;
        border: none;
        background-color: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.5vw;
        padding: 15px 32px 0 0;
        border: none;
        pointer-events: none;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        transition: 0.3s;
    }      

    .mystyle2 #logoKep{
        width: 2.3vw;
        transition: 0.3s;
    }

    .mystyle1 #vilagosuli{
        padding: 20px 0px 0px 0px;
        font-size: 1.8vw;
        color: rgb(255, 255, 255);
    }

    .mystyle1 #vilagosuli:hover{
        color:rgb(131, 131, 131);
        transition: 0.3s;
    }
    
    .mystyle2 #vilagosuli{
        padding: 9px 0px 10px 0px;
        font-size: 1.8vw;
    }
    .mystyle2 #vilagosuli:hover{
        color:rgb(131, 131, 131);
        transition: 0.3s;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        color: rgb(0, 0, 0);
        padding: 8px 10px;
        text-decoration: none;
        transition: 0.3s;
    }

    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: -25%;
        background-color: rgba(255, 255, 255, 0.87);
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    #igazit1{
        margin-left: -25%;
    }
    #igazit2{
        margin-left: -6%;
    }
    #igazit3{
        margin-left: -24%;
    }
    #igazit4{
        margin-left: -32%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.1vw;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 45px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    video{
        width: 45%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-bottom: 100px;
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        padding: 50px;
        margin: 50px 0px 50px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .emlekezes{
        width: 70%;
        font-size: 20px;
        text-align: justify;
    }

    .fejlec{
        padding: 15px;
        margin-top: 130px;
        width: 40%;
        background: linear-gradient(rgba(65, 31, 216, 0.726),rgba(199, 48, 48, 0.699));
        color: white;
    }

    .boxborder a{
        text-decoration: none;
    }

    .boxborder h1{
        text-align: center;
    }
    
    .boxborder h2 {
        font-size: 2.2vw;
        text-align: center;
    }
    
    .boxborder h3 {
        font-size: 1.1vw;
        line-height: 175%;
        text-align: left;
        text-justify: inter-word;
    }

    .boxborder .egyedi{
        text-align: center;
        font-size: 18px;
    }

    .carousel-inner{
        width: 60%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        padding: 10px;
        margin: 50px 0px 50px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }

    .boxborder-table img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .boxborder img{
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 5px 5px rgba(146, 146, 146, 0.5);
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .boxborderGaleria{
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }

    .boxborderGaleria img{
        width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        transition: 0.3s;
    }

    /*.boxborderGaleria img:hover{
        width: 250%;
        height: auto;
        overflow: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
        z-index: 100;
    }*/

    #galeria{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: 0.3s;
    }

    #galeria td{
        width: 250px;
        height: 250px;
        padding: 2px 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: 0.3s;
    }
    
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 2px 8px;
        font-size: 1.1vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
    }
    
    .editor {
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: fit-content;
        margin: 10vh 0vh 2vh 2vh;
        justify-content: center;
        text-align: center;
        align-items: center;
        transition: 0.3s;
    }

    .editor:hover{
        background: linear-gradient(rgba(0, 0, 0, 0.726),rgba(240, 76, 76, 0.699));
        transition: 0.3s;
    }

    .editor p {
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 10px;
        font-size: 1.1vw;
        margin: 0px;
        display: inline;
        position: relative;
        left: 0%;
        pointer-events: none;
        transition: 0.3s;
    }

    .editor:hover p{
        color: white;
        transition: 0.3s;
    }

    .alul{
        position: absolute;
        bottom: 0vh;
        left: 0.5vh;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px; 
        right: 30px; 
        z-index: 99;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.795);
        color: rgb(0, 0, 0);
        padding: 10px; 
        border-radius: 10px; 
        font-size: 20px; 
        width: 40px;
        height: 40px;
     }
      
    #myBtn:hover {
        background-color: rgb(169, 203, 241);
    }

    #myBtn i{
        position: relative;
        top: -30%;
    }

    .elso{
        margin-top: 150px;
    }

    #emlekkep{
        position: relative;
        width: 70%;
    }

    #kozepre{
        text-align: center;
        font-style: italic;
        font-size: 18px;
    }

    html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      body {
        margin: 0;
      }
      
      .preview {
        width: 100%;
        height: auto;
        max-height: 22vh;
        border-radius: 25px;
        opacity: 1;
      }
      
      .row {
        display:block;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .row > .col {
        padding: 8px 8px;
      }
      
      .col {
        float: left;
        width: 25%;
        background-color: rgba(255, 255, 255, 0);
      }
      
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 10px 62px 0px 62px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }
      
      .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0 0 0 0;
        width: 80%;
        max-width: 1200px;
      }
      
      .slide {
        display: none;
      }
      
      .image-slide {
          width: 100%;
          max-height: 80vh;
      }
      
      .modal-preview {
          width: 80%;
          max-height: 10vh;
      }
      
      .dots {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: black;
          padding: 25px;
      }
      
    img.preview{
        opacity: 0.9;
        height: 100%;
    }
    
    img.modal-preview {
        opacity: 0.6;
      }
      
      img.active,
      .preview:hover,
      .modal-preview:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      } 
      
      .close {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: rgb(165, 162, 162);
        text-decoration: none;
        cursor: pointer;
      }
      
      .previous,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .previous:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
}
@media (min-width: 551px) and (max-width: 999px){  /*félmonitor beállítások*/

    body {
        background: url(/media/shutterstock_326638589.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .info{
        display: none;
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 3vh; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(230, 207, 161); /* Set a background color */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 10px; /* Increase font size */
        transition: 0.3s;
     }
      
    #myBtn:hover {
        background-color: rgba(255, 255, 255, 0.795); /* Add a dark-grey background on hover */
    }

    .uj{display: none;}

    .mystyle1 #suli{
        float: left;
        font-size: 18px;
        padding: 0px;
        display: none;
    }

    .mystyle2 #suli{
        font-size: 18px;
        float: left;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;

      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(230, 207, 161),rgb(255, 255, 255));

      }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background-color: rgb(230, 207, 161);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 20px 32px 0 0;
        border: none;
        background-color: inherit;
        font-family: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.7vw;
        padding: 10px 32px 0 0;
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-family: inherit;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        margin: 5px 0px 0px 0px;
        transition: 0.3s;
    }      

    .mystyle2 #logoKep{
        width: 2.3vw;

        float: left;
        transition: 0.3s;
    }

    .mystyle1 #vilagosuli{
        margin: 0 0 0 0;
        padding: 20px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
        
    }
    
    .mystyle2 #vilagosuli{
        margin: 0 0 0 0;
        padding: 9px 0px 10px 0px;
        font-size: 1.7vw;
        text-align: left;
    }

    .vmi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .topnav {
        margin-bottom: 0px;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    .topnav a:hover {
        color:rgb(131, 131, 131);
    }
    
    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 6%;
        background-color: rgba(255, 255, 255, 0.658);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    #igazit1{
        margin-left: -45%;
    }
    #igazit2{
        margin-left: -16%;
    }
    #igazit3{
        margin-left: -27%;
    }
    #igazit4{
        margin-left: -38%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 24px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    .embed-responsive{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-top: 70px;
        margin-bottom: 25px;
    
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 25px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .boxborder h2 {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 3vw;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .boxborder h3 {
        margin: 0;
        padding: 0;
        font-size: 1.7vw;
        line-height: 175%;
        color: #000000;
        text-align: left;
        text-justify: inter-word;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 10px;
        
        margin: 30px 0px 30px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 4px 16px;
        font-size: 1.7vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
        color: rgb(0, 0, 0);
    }
    
    .editor {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 25px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 3vh;
        margin-left: 2vh;
    }
    
    .editor p {
        color: white;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 2.1vw;
    }
}
@media (max-width: 550px){  /*telefon beállítások*/

    body {
        background: url(/media/shutterstock_326638589.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .mystyle1 #suli{
        float: left;
        font-size: 18px;
        padding: 0px;
        display: none;
    }

    .mystyle2 #suli{
        font-size: 18px;
        float: left;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;

      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(230, 207, 161),rgb(255, 255, 255));

      }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background-color: rgb(230, 207, 161);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 0px 10px 0 0;
        border: none;
        background-color: inherit;
        font-family: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 0px 10px 10px 0px;
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-family: inherit;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        margin: 0px 0px 0px 0px;
        transition: 0.3s;
        padding: 0px;
    }      

    .mystyle2 #logoKep{
        width: 3.5vw;
        margin: 0px 0px 0px 0px;
        transition: 0.3s;
        padding: 0px 0px 0px 0px;
    }

    .mystyle1 #vilagosuli{
        margin: 0 0 0 0;
        padding: 10px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
        
    }
    
    .mystyle2 #vilagosuli{
        margin: 0 0 0 0;
        padding: 10px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
    }

    .vmi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .topnav {
        margin-bottom: 0px;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 0px 10px;
        text-decoration: none;
    }
    .topnav a:hover {
        color:rgb(131, 131, 131);
    }
    
    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 6%;
        background-color: rgba(255, 255, 255, 0.658);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    #igazit1{
        margin-left: -85%;
    }
    #igazit2{
        margin-left: -24%;
    }
    #igazit3{
        margin-left: -36%;
    }
    #igazit4{
        margin-left: -49%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        padding: 4px 10px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 24px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 3vh; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(230, 207, 161); /* Set a background color */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 10px; /* Increase font size */
        transition: 0.3s;
        width: 0px;
     }
      
    #myBtn:hover {
        background-color: rgba(255, 255, 255, 0.795); /* Add a dark-grey background on hover */
    }

    #toTop{
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    .uj{display: none;}

    .info{display: none;}
    
    .embed-responsive{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-top: 70px;
        margin-bottom: 25px;
    
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        padding: 25px;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .boxborder h2 {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 3vw;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .boxborder h3 {
        margin: 0;
        padding: 0;
        font-size: 2.6vw;
        line-height: 175%;
        color: #000000;
        text-align: left;
        text-justify: inter-word;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        padding: 10px;
        
        margin: 25px 0px 25px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 4px 16px;
        font-size: 2.2vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
        color: rgb(0, 0, 0);
    }
    
    .editor {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 25px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 3vh;
        margin-left: 2vh;
    }
    
    .editor p {
        color: white;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 2.2vw;
    }
}