@media (min-width: 1000px){  /*monitor beállítások*/

    body {
        background: url(/media/shutterstock_326638589.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .info{
        position: relative;
        padding: 60px 0px 0px 75px;
        font-size: 1.3vw;
        display: none;
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(230, 207, 161); /* Set a background color */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        transition: 0.3s;
     }
      
    #myBtn:hover {
        background-color: rgba(255, 255, 255, 0.795); /* Add a dark-grey background on hover */
    }



    .uj{
        position: sticky;
        left: 25px;
        top: 400px;
        height: 40px;
        width: 40px;
        background-color: rgb(230, 207, 161);
        border-radius: 100px;
        transition: 0.3s;
        text-align: center;     
    }

    .uj a{
        position: absolute;
        color: black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        font-size: 1vw;
    }
    .uj a:hover{
        color: gray;
    }

    .uj:hover{
        width: 15%;
        background-color:  rgba(255, 255, 255, 0.795);
        vertical-align: default;
        text-align: center;
    }
    .uj:hover .kettes{
        display: initial;
    }
    .uj:hover .egyes{
        display: none;
    }

    .kettes{
        display: none;
    }

    .uj2{
        position: sticky;
        left: 25px;
        top: 450px;
    }
    .uj3{
        position: sticky;
        left: 25px;
        top: 500px;
    }


   


    /*
    .social {
        position: sticky;
        left: 25px;
        top: 400px;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: rgb(230, 207, 161);
        text-align: center;
        justify-content: center;
        transition: 0.3s;
    }

    .social:hover a{
        display:unset;
    }

    .social2{
        position: sticky;
        left: 25px;
        top: 460px;
    }
    .social3{
        position: sticky;
        left: 25px;
        top: 520px;
    }

    .social p {
        color: rgb(71, 0, 0);
        padding-top: 12px;
        border: 0px;
        margin: 0px;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        transition: 0.3s;
        display: block;
    }
    
    .social:hover{
        background-color: rgba(255, 255, 255, 0.795);
        width: 150px;
    }

    .social p:hover {

        width: 150px;
        height: 50px;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 1.1vw;
        border-radius: 25px;
    }

    .social a{
        font-size: 0.7vw;
        color: black;
        text-decoration: none;
        display: none;
    }

    .social a:hover{
        font-size: 0.7vw;
        color:rgb(166, 166, 167);
        text-decoration: none;
    }
    */

    .mystyle1 #suli{
        float: left;
        font-size: 18px;
        padding: 0px;
        display: none;
    }

    .mystyle2 #suli{
        font-size: 18px;
        float: left;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;

      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(230, 207, 161),rgb(255, 255, 255));

      }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background-color: rgb(230, 207, 161);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.5vw;
        padding: 20px 32px 0 0;
        border: none;
        background-color: inherit;
        font-family: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.5vw;
        padding: 15px 32px 0 0;
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-family: inherit;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        transition: 0.3s;
    }      

    .mystyle2 #logoKep{
        width: 2.3vw;

        float: left;
        transition: 0.3s;
    }

    .mystyle1 #vilagosuli{
        margin: 0 0 0 0;
        padding: 20px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
        
    }
    
    .mystyle2 #vilagosuli{
        margin: 0 0 0 0;
        padding: 9px 0px 10px 0px;
        font-size: 1.7vw;
        text-align: left;
    }

    .vmi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .topnav {
        margin-bottom: 0px;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    .topnav a:hover {
        color:rgb(131, 131, 131);
    }
    
    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 20%;
        background-color: rgba(255, 255, 255, 0.658);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    #igazit{
        margin-left: -50%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 24px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    .embed-responsive{
        width: 45%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        padding: 50px;
        margin: 50px 0px 30px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .boxborder h2 {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 2.7vw;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .boxborder h3 {
        margin: 0;
        padding: 0;
        font-size: 1.3vw;
        line-height: 175%;
        color: #000000;
        text-align: left;
        text-justify: inter-word;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        padding: 20px;
        
        margin: 50px 0px 30px 0px;
        background: rgba(0, 0, 0, 0.575);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 2px 8px;
        font-size: 1.1vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
        color: rgb(0, 0, 0);
    }
    
    .editor {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 25px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 2vh;
        margin-left: 2vh;
    }
    
    .editor p {
        color: white;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 1.1vw;
    }

}
@media (min-width: 551px) and (max-width: 999px){  /*félmonitor beállítások*/

    body {
        background: url(/media/shutterstock_326638589.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .info{
        display: none;
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 3vh; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(230, 207, 161); /* Set a background color */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 10px; /* Increase font size */
        transition: 0.3s;
     }
      
    #myBtn:hover {
        background-color: rgba(255, 255, 255, 0.795); /* Add a dark-grey background on hover */
    }

    .uj{display: none;}

    .mystyle1 #suli{
        float: left;
        font-size: 18px;
        padding: 0px;
        display: none;
    }

    .mystyle2 #suli{
        font-size: 18px;
        float: left;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;

      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(230, 207, 161),rgb(255, 255, 255));

      }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background-color: rgb(230, 207, 161);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 20px 32px 0 0;
        border: none;
        background-color: inherit;
        font-family: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.7vw;
        padding: 10px 32px 0 0;
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-family: inherit;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        margin: 5px 0px 0px 0px;
        transition: 0.3s;
    }      

    .mystyle2 #logoKep{
        width: 2.3vw;

        float: left;
        transition: 0.3s;
    }

    .mystyle1 #vilagosuli{
        margin: 0 0 0 0;
        padding: 20px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
        
    }
    
    .mystyle2 #vilagosuli{
        margin: 0 0 0 0;
        padding: 9px 0px 10px 0px;
        font-size: 1.7vw;
        text-align: left;
    }

    .vmi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .topnav {
        margin-bottom: 0px;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    .topnav a:hover {
        color:rgb(131, 131, 131);
    }
    
    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 6%;
        background-color: rgba(255, 255, 255, 0.658);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    #igazit{
        margin-left: -50%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 24px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    .embed-responsive{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-top: 70px;
        margin-bottom: 25px;
    
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 25px;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .boxborder h2 {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 3vw;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .boxborder h3 {
        margin: 0;
        padding: 0;
        font-size: 1.7vw;
        line-height: 175%;
        color: #000000;
        text-align: left;
        text-justify: inter-word;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 10px;
        
        margin: 30px 0px 30px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 4px 16px;
        font-size: 1.7vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
        color: rgb(0, 0, 0);
    }
    
    .editor {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 25px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 3vh;
        margin-left: 2vh;
    }
    
    .editor p {
        color: white;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 2.1vw;
    }
}
@media (max-width: 550px){  /*telefon beállítások*/

    body {
        background: url(/media/shutterstock_326638589.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .mystyle1 #suli{
        float: left;
        font-size: 18px;
        padding: 0px;
        display: none;
    }

    .mystyle2 #suli{
        font-size: 18px;
        float: left;
        display: none;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;

      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.829);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(rgb(230, 207, 161),rgb(255, 255, 255));

      }

    .mystyle1 {
        transition: 0.3s;
    }
    
    .mystyle2 {
        background-color: rgb(230, 207, 161);
        transition: 0.3s;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }

    .mystyle1 .dropbtn {
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 0px 10px 0 0;
        border: none;
        background-color: inherit;
        font-family: inherit;
        pointer-events: none;
    }

    .mystyle2 .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
        font-size: 1.8vw;
        padding: 0px 10px 10px 0px;
        color: rgb(0, 0, 0);
        border: none;
        outline: none;
        font-family: inherit;
    }

    .mystyle1 #logoKep{
        width: 3.5vw;
        margin: 0px 0px 0px 0px;
        transition: 0.3s;
        padding: 0px;
    }      

    .mystyle2 #logoKep{
        width: 3.5vw;
        margin: 0px 0px 0px 0px;
        transition: 0.3s;
        padding: 0px 0px 0px 0px;
    }

    .mystyle1 #vilagosuli{
        margin: 0 0 0 0;
        padding: 10px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
        
    }
    
    .mystyle2 #vilagosuli{
        margin: 0 0 0 0;
        padding: 10px 0px 0px 0px;
        font-size: 1.8vw;
        text-align: left;
    }

    .vmi{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .topnav {
        margin-bottom: 0px;
    }
    
    .topnav div{
        float: right;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 0px 10px;
        text-decoration: none;
    }
    .topnav a:hover {
        color:rgb(131, 131, 131);
    }
    
    .dropdown .dropbtn:hover{
        color:rgb(131, 131, 131);
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 6%;
        background-color: rgba(255, 255, 255, 0.658);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    #igazit{
        margin-left: -50%;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.3s;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(230, 207, 161);
        border-radius: 24px;
        color: rgb(255, 255, 255);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
      
    .topnav .icon {
        display: none;
    }
    
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 3vh; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(230, 207, 161); /* Set a background color */
        color: rgb(0, 0, 0); /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 10px; /* Increase font size */
        transition: 0.3s;
        width: 0px;
     }
      
    #myBtn:hover {
        background-color: rgba(255, 255, 255, 0.795); /* Add a dark-grey background on hover */
    }

    #toTop{
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    .uj{display: none;}

    .info{display: none;}
    
    .embed-responsive{
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        margin-top: 70px;
        margin-bottom: 25px;
    
    }
    
    .boxborder {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        padding: 25px;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .boxborder h2 {
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 3vw;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .boxborder h3 {
        margin: 0;
        padding: 0;
        font-size: 2.6vw;
        line-height: 175%;
        color: #000000;
        text-align: left;
        text-justify: inter-word;
    }
    
    .boxborder-table {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        padding: 10px;
        
        margin: 25px 0px 25px 0px;
        background: rgba(255, 255, 255, 0.822);
        box-shadow: 0 5px 15px rgba(78, 133, 216, 0.5);
        border-radius: 25px;
    }
    
    #customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
      
    #customers td, #customers th {
        border: 1px solid rgb(184, 170, 170);
        padding: 4px 16px;
        font-size: 2.2vw;
    }
      
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:nth-child(odd){background-color: #d3d8d8;}  
    #customers tr:hover {background-color: rgb(230, 207, 161);}
      
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(230, 207, 161);
        color: rgb(0, 0, 0);
    }
    
    .editor {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 25px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 3vh;
        margin-left: 2vh;
    }
    
    .editor p {
        color: white;
        padding: 0px 10px 0px 10px;
        border: 0px;
        margin: 0px;
        font-size: 2.2vw;
    }
}