.social{
    position: relative;
    top: 400px;
    left: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 6vh;
    width: 3vw;
    background-color: rgb(223, 199, 120);
    color: black;
    text-decoration: none;
    border-radius: 100px;
    margin: 1vh;
    transition: 0.3s;
}

h3{
    color: black;
    font-size: 1vw;
}

.social:hover{
    width: 150px;
    transition: 0.3s;
}

#asd{
    display: none;
    transition: 0.3s;
}

.social:hover #asd{
    display:block;
    transition: 0.3s;
}
.social:hover #eltunik{
    transition: 0.3s;
}
