#elso{  
    color: rgb(238, 22, 22);
    border: 5px solid black;
    display: inline;
    position: absolute;
    top: 450px;
    left: 100px;

}
#masodik{  
    color: rgb(238, 22, 22);
    border: 5px solid black;
    position: absolute;
    visibility: hidden;
    top: 550px;
    left: 100px;
    transition: 1.3s;
}

#elso:hover + #masodik{
    visibility: initial;
    transition: 1.3s;
}
